.reading-text {
    max-width: 700px;
}

.reading-text a {
    font-weight: 400;
    color: var(--dark);
}

.reading-text blockquote {
    padding-left: 20px;
    position: relative;
}

.reading-text blockquote:before {
    content: "";
    width: 1px;
    height: 40px;
    background-color: var(--light-extra);
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
}

/* note body headings */
.reading-text h1 {
    margin-bottom: 40px;
}

.reading-text h2, .reading-text h3, .reading-text h4, .reading-text h5, .reading-text h6 {
    margin-top: 60px;
}

.notes-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
}

.notes-list li {
    padding: 20px 40px 30px 0;
    vertical-align: text-top;
    /* background-color: aquamarine; */
    border-radius: 4px;
    display: inline-block;
    width: 300px;
    overflow: hidden;
}

.notes-teaser-link {
    width: 300px;
    overflow: hidden;
    display: inline-block;
    padding: 20px 20px 20px 0;
    position: relative;
}

  .notes-teaser-link:after,
  .notes-teaser-link:before {    
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: var(--light-extra);
    transition: width 0.3s ease 0s;
    width: 20px;
  }

  .notes-teaser-link:before {
      width: 0;
      background: var(--dark);
      z-index: 2;
  }

  .notes-teaser-link:hover:before { 
    width: 20px; 
    background: var(--dark);
  }

 

.notes-teaser-title {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0;
    font-size: var(--text-size);
    font-weight: 700;
    color: var(--dark);
    letter-spacing: 0.5px;
}

@media only screen and (min-width: 785px) {
    .notes-teaser-title {
        height: var(--two-line-height);
    }
}

.notes-teaser-desc {
    display: inline-block;
    height: var(--two-line-height);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.notes-teaser-reading-time {
    margin: 0;
    font-size: var(--text-meta-size);
}

#search {
    height: 27px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: var(--text-major-size);
    font-weight: 300;
    border: 0;
    border-bottom: 1px solid var(--light-extra);
    color: var(--med-light);
    box-sizing: content-box;
    max-width: 100%;
    margin-right: 20px;
}

#search::placeholder {
    color: var(--light);
    opacity: 1;
}

#search:focus {
    outline: 0;
    border-bottom: 1px solid var(--light);
}

.searching .notes-list-proper {
    display: none;
}

.notes-list-proper {
    display: block;
}

.header-body {
    max-width: 50%;
}

.reading-text h1.title {
    margin-bottom: 0;
    margin-bottom: 40px;
}

.reading-text h2.subtitle {
    margin-top: -40px;
    margin-bottom: 40px;
}