.all--resume {
    font-size: 14px;
    background: #eee
}

.resume-header {
    justify-content: center;
    display: flex;
    gap:20px;
    font-size: 14px;
    margin-bottom: 24px;
    align-items: center;
}

.resume-header .links {
    font-size: 12px;
}

.resume-header .small-text {
    font-size: 12px;
    font-weight: 300;
}

.split-view {
    display: grid;
    /* grid-template-columns: calc(50% - 40px) calc(50% - 40px); */
    column-gap: 80px;
}

.subhead {
    font-size: 13px;
    line-height: 1.6;
}

.subhead,
.icon-image-holder {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.subhead span {
    font-weight: 400;
}

.subhead ~ .subhead {
    margin-top: 40px;
}

h2 {
    /* background-color: rgb(255 249 192 / 50%); */
    /* padding: 0 10px; */
    display: inline-block;
    vertical-align: middle;
}

ul {
    padding-left: 20px;
    /* list-style-type: circle; */
    /* list-style-position: inside; */
}

.headshot {
    height: 100px;
    width: 100px;
    background-color: #48d1cc15;
    border-radius: 50%;
    display: inline-block;
}

.icon-image {
    height: 35px;
    width: 35px;
    background-color: #48d1cc;
    border-radius: 50%;
    display: inline-block;
}

.icon-image-holder--poised {
    margin-bottom: 20px;
}

[class*="icon-image--"] {
    background-size: cover;
}

.icon-image--utd {
    background-image: url('../images/utd_img.jpeg');
}
.icon-image--plano-shs {
    background-image: url('../images/plano_shs_img.jpeg');
}
.icon-image--codecademy {
    background-image: url('../images/codecademy_img.jpeg');
}
.icon-image--collin-college {
    background-image: url('../images/collin_college_img.jpeg');
}
.icon-image--consensys {
    background-image: url('../images/consensys_img.jpeg');
}
.icon-image--dapp-camp{
    background-image: url('../images/dapp_camp_img.jpeg');
}
.icon-image--entreleadership {
    background-image: url('../images/entreleadership_img.jpeg');
}
.icon-image--ivie{
    background-image: url('../images/ivie_img.jpeg');
}
.icon-image--mrm{
    background-image: url('../images/mrm_img.jpeg');
}
.icon-image--visual-app {
    background-image: url('../images/visual_app_img.jpeg');
}

.important-content--poised {
    max-width: calc(700px + 80px);
    min-width: calc(700px + 80px);
    padding-bottom: 40px;
    margin: 0 auto;
    overflow: unset;
    border: 1px solid #eee;
    background-color: #fff;
}

section {
    border-top: solid #efefef 1px;
    padding: 20px 80px;
}

section:first-child {
    border-top: 0;
    background-color: azure;
}

