.all--resume {
    font-size: 14px;
}

.resume-header {
    display: flex;
    gap:20px;
    font-size: 14px;
    margin-bottom: 24px;
    align-items: center;
}

.resume-header .links {
    font-size: 12px;
}

.split-view {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 40px;
}

.subhead {
    /* color: #555; */
    font-size: 13px;
    line-height: 1.6;
    display: block;;
}

.subhead span {
    font-weight: 400;
}

h2 {
    background-color: #efefef;
    padding-left: 5px;
}

.dot {
    height: 100px;
    width: 100px;
    background-color: #efefef;
    border-radius: 50%;
    display: inline-block;
}

.important-content--poised {
    max-width: 777px;
    min-width: 777px;
    margin: 0 auto;
    overflow: unset;

    border: 1px solid #eee;
    padding: 20px 60px;
}