:root {
    --background: #fff;
    --dark: #111;
    --med: #222;
    --med-light: #444;
    --light: #aaa; 
    --light-extra: #ddd;
    --light-ultra: #eee;
    --highlight: rgb(255 249 192 / 50%);

    background-color: #eee;
    border-top: 6px solid var(--light-ultra);
}

.all--resume {
    font-size: 14px;
    background: #eee;
    color: #444;
}

.layout,
.resume-header {
    display: flex;
    gap: 30px;
    padding: 40px;
}

.layout__column,
.resume-header > div  {
    max-width: 600px;
}

.intro-section__content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.resume-header div:first-child {
    width: 600px;
}

.resume-header {
    font-size: 14px;
    margin-bottom: 24px;
    align-items: top;
}

.resume-header .links {
    font-size: 12px;
}

.resume-header .small-text {
    font-size: 12px;
    font-weight: 300;
}

.split-view {
    display: grid;
    /* grid-template-columns: calc(50% - 40px) calc(50% - 40px); */
    column-gap: 80px;
}

.subhead {
    font-size: 13px;
    line-height: 1.6;
}

.subhead,
.icon-image-holder {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0;
}

.subhead span {
    font-weight: 400;
}

.subhead ~ .subhead {
    margin-top: 20px;
}

h2 {
    /* background-color: rgb(255 249 192 / 50%); */
    /* padding: 0 10px; */
    display: inline-block;
    vertical-align: middle;
}

ul {
    list-style: none;
    padding-left: 20px;
    /* list-style-type: circle; */
    /* list-style-position: inside; */
}

li::before {
    content: "•";
    color: #0063ac;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

li,
.icon-image-holder {
    line-height: 1.4;
}

.resume-header__title {
    font-size: 28px;
    font-weight: 500;
    display: block;
    line-height: 1;
}

.resume-header__title--slim {
    font-weight: 300;
}

.intro-section {
    height: 100px;
}

.headshot {
    height: 75px;
    width: 75px;
    background-color: #48d1cc15;
    background-image: url('/images/headshot_sm_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
}

.icon-image {
    height: 20px;
    width: 20px;
    background-color: #48d1cc;
    border-radius: 50%;
    flex-shrink: 0;
}

/* .icon-image-holder--poised {
    margin-bottom: 20px;
} */

[class*="icon-image--"] {
    background-size: cover;
}

.icon-image--utd {
    background-image: url('../images/utd_img.jpeg');
}
.icon-image--plano-shs {
    background-image: url('../images/plano_shs_img.jpeg');
}
.icon-image--codecademy {
    background-image: url('../images/codecademy_img.jpeg');
}
.icon-image--collin-college {
    background-image: url('../images/collin_college_img.jpeg');
}
.icon-image--consensys {
    background-image: url('../images/consensys_img.jpeg');
}
.icon-image--dapp-camp{
    background-image: url('../images/dapp_camp_img.jpeg');
}
.icon-image--entreleadership {
    background-image: url('../images/entreleadership_img.jpeg');
}
.icon-image--ivie{
    background-image: url('../images/ivie_img.jpeg');
}
.icon-image--mrm{
    background-image: url('../images/mrm_img.jpeg');
}
.icon-image--visual-app {
    background-image: url('../images/visual_app_img.jpeg');
}

.important-content--poised {
    max-width: 960px;
    min-width: 960px;
    padding-bottom: 40px;
    margin: 0 auto;
    overflow: unset;
    border: 1px solid #eee;
    background-color: #fff;
}

section {
    /* border-top: solid #efefef 1px; */
    padding: 0px 10px;
}

/* section:first-child {
    border-top: 0;
    background-color: azure;
} */

section h2 {
    color: #0063ac;
    margin: 20px 0 5px;
}
