/* TODO: Don't style bare elements, use BEM. */
/* base, shared CSS */
:root {
    --background: #fff;
    --dark: #111;
    --med: #222;
    --med-light: #444;
    --light: #aaa; 
    --light-extra: #ddd;
    --light-ultra: #eee;
    --highlight: rgb(255 249 192 / 50%);
    --strong: #444;

    --heading-major-size: 24px;
    --heading-size: 14px;
    --text-major-size: 18px;
    --text-size: 18px;
    --text-med-size: 16px;
    --text-med-meta-size: 15px;
    --text-meta-size: 14px;

    background-color: var(--background);
    border-top: 6px solid var(--light-ultra);
}

:root[data-dark-mode="true"] {
    --background: #222;
    --dark: #eee;
    --med: #ddd;
    --med-light: #ddd;
    --light: #777; 
    --light-extra: #444;
    --light-ultra: #000;
    --highlight: #ffd5db;
    --strong: #222;
}

strong {
    font-weight: 500;
    background: var(--highlight);
    color: var(--strong);
}

pre {
    padding-left: 20px;
    overflow-x: scroll;
    font-size: var(--text-med-size);
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--heading-size);
    font-weight: 600;
    color: var(--dark);
    letter-spacing: 0.5px;
}

h1 { 
    font-weight: 400;
}

h1 {
    font-size: var(--heading-major-size);
}

a {
    text-decoration: none;
    color: var(--med-light);
    border-bottom: 1px solid var(--light-extra);

    transition: border-bottom-color 50ms ease-in-out;
}

a:hover {
    border-bottom-color: var(--light);
    cursor: pointer;
}

.all {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: var(--text-size);
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 6.4% 80px;
    line-height: 1.7;
    color: var(--med-light);
}

.border-0 {
    border: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) {
    .header {
        justify-content: space-between;
    }
}

.main {
    overflow: hidden;
}

.important-content {
    overflow: hidden;
}

@media only screen and (min-width: 785px) {
    .important-content {
        min-height: 640px;
    }
}

.footer {
    padding-top: 100px;
    font-size: var(--text-meta-size);
}

nav.header-links a {
    margin: 0;
}

nav.header-links a + a {
    margin-left: 20px;
}

/** social icons **/
@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?4274994');
    src: url('../font/fontello.eot?4274994#iefix') format('embedded-opentype'),
         url('../font/fontello.woff2?4274994') format('woff2'),
         url('../font/fontello.woff?4274994') format('woff'),
         url('../font/fontello.ttf?4274994') format('truetype'),
         url('../font/fontello.svg?4274994#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?4274994#fontello') format('svg');
    }
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-mail:before { content: '\e800'; } /* 'î €' */
  .icon-github:before { content: '\e801'; } /* 'î ' */
  .icon-twitter:before { content: '\f099'; } /* 'ï‚™' */
  .icon-linkedin:before { content: '\f0e1'; } /* 'ïƒ¡' */
  

  .reading-list {
      margin-bottom: 40px;
  }

  .reading-list__header {
    margin-top: 40px;
}

  .reading-list__author {
      margin: 0 0 20px 0;
      font-size: var( --text-meta-size);
  }

  /*
  Color Scheme Toggle Switch
  - Styled checkbox with slight animation when toggling
*/
#color-mode-switch-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#color-mode-switch {
    display: inline-flex;
    align-items: center;
  }
  
  #color-mode-switch > span {
    font-size: 30px;
    display: inline-block;
    margin-right: 8px;
  }
  
  #color-mode-switch svg {
    width: 18px;
    height: 18px;
    margin: 0;
  }
  
  #color-mode-switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  #color-mode-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 42px;
    height: 18px;
    border-radius: 30px;
    background: var(--dark);
    display: block;
    position: relative;
    margin: 0 4px 0 0;
  }
  
  #color-mode-switch label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: var(--background);
    border-radius: 90px;
    transition: 0.3s;
  }
  
  #color-mode-switch input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }
  
  #color-mode-switch label:active:after {
    width: 30px;
  }
  