<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block desc %}{% endblock desc %}" />

    {% block head %}{% endblock head %}
</head>
<body class="all">
    <div class="important-content">
        <!-- make this sticky/fixed -->
        <div id="color-mode-switch-container">
            <div id="color-mode-switch">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path>
                </svg>
                <input type="checkbox" id="switch" onchange="((e) => {
                    try {
                        const isChecked = e.target.checked;

                        document.getElementsByTagName('html')[0].setAttribute('data-dark-mode', isChecked);

                        if (isChecked) {
                            window.localStorage.setItem('amoradi-dark-mode', true);
                        } else {
                            window.localStorage.removeItem('amoradi-dark-mode');
                        }
                    } catch(e) {
                        console.log(e);
                    }
                    })(arguments[0])">
                <label for="switch">Dark Mode Toggle</label>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
                </svg>
              </div>
        </div>
        <header class="header">
            <div class="header-body">
                <a href="/" title="introduction">intro</a>  
            </div>
            
            <nav class="header-links">
                <!--
                    <a href="/notes" title="notes">notes</a>
                    <a href="/" title="Aaron Moradi">me</a>
                -->
                {% block header_body %}{% endblock header_body %}
                {% block header_links %}{% endblock header_links %}
            </nav>
        </header>
        {% block content %}{% endblock content %}
    </div>
    <footer class="footer">
        {% block footer %}
        <i>What do I mean by good people?...Could you describe the person as an animal?.<br />- Paul Graham</i>
        <!-- <i>Never have the world's moneys been so long cut off from their metallic roots.<br />- M. Rothbard</i> -->
        {% endblock footer %}
    </footer>
    <script>
        try {
            const darkMode = window.localStorage.getItem('amoradi-dark-mode');

            if (darkMode) {
                document.getElementById('switch').checked = true;
                document.getElementsByTagName('html')[0].setAttribute('data-dark-mode', true);
            }
        } catch(e) {
            console.log('dark mode error', e);
        }
    </script>
</body>
</html>
