{% extends "base.html" %}
{% block title %}Aaron Moradi{% endblock title %}
{% block desc %}Software Engineer at financial technology company (confidential){% endblock desc %}
{% block head %}
  <link rel="stylesheet" href="/home.css" />
{% endblock head %}

{% block header_links %}
  <a href="/notes" title="notes">notes</a>
  <a href="/reading-list" title="reading list">reading list</a>
{% endblock header_links %}

{% block content %}
<main role="main" class="main home">
  <header class="masthead">
    <div>
      <div class="header-content">
        <p><span class="header-content-emphasis">Aaron Moradi, Software Engineer</span> at financial technology company (confidential).</p>
        <p>Previously, Front End Developer at <a href="https://podcasts.apple.com/us/podcast/the-entreleadership-podcast/id435836905" target="_blank">EntreLeadership</a>, Web Developer at <a href="https://www.mrm.com/index.html" target="_blank">MRM</a> and creator of <a href="https://www.npmjs.com/package/scintilla" target="_blank">Scintilla React Sparklines</a>.
        </p>
      </div>
      <div class="header-links">
        <span><a href="mailto:moradi.aaron@gmail.com" target="_blank" class="icon-mail">moradi.aaron</a></span>
        <span><a href="https://twitter.com/hardbread_" target="_blank" class="icon-twitter">@hardbread_</a></span>
        <span><a href="https://www.linkedin.com/in/aaron-moradi-71a61b47/" target="_blank" class="icon-linkedin">@aaron-moradi</a></span>
        <span><a href="https://github.com/amoradi/" target="_blank" class="icon-github">@amoradi</a></span>
      </div>
    </div>
    <!-- <div class="header-img-container">
      <img class="header-img" src="https://raw.githubusercontent.com/amoradi/me/master/public/assets/images/me_and_fam.jpg" width="35%" />
    </div> -->
  </header>
  <section class="content">
    <div class="column">
      <h2>Currently</h2>
      <div>
        <p>Senior Software Engineer, confidential</p>
      </div>
      <h2>Past</h2>
      <div>
        <p>Front End Developer, <a href="https://podcasts.apple.com/us/podcast/the-entreleadership-podcast/id435836905" target="_blank">EntreLeadership</a></p>
        <p>Web Developer, <a href="https://www.mrm.com/index.html" target="_blank">MRM</a></p>
        <p>Web Designer, <a href="https://www.visualapp.com/" target="_blank">Visual App</a></p>
        <p>Inbound Marketer, <a href="https://www.quad.com/" target="_blank">Ivie</a></p>
      </div>
    </div>
    <div class="column">
      <h2>Reads</h2>
      <div>
        <p><a href="https://www.gutenberg.org/files/44800/44800-h/44800-h.htm" target="_blank">The Law</a>, Frédéric Bastiat</p>
        <p><a href="https://fee.org/resources/economics-in-one-lesson/" target="_blank">Economics in One Lesson</a>, Henry Hazlitt</p>
        <p><a href="https://mises.org/library/what-has-government-done-our-money" target="_blank">What Has Government Done to Our Money?</a>, Murray N. Rothbard</p>
        <p><a href="https://www.amazon.com/Anatomy-State-Murray-Rothbard/dp/1614279888" target="_blank">Anatomy of the State</a>, Murray N. Rothbard</p>
        <p><a href="/notes" >My notes</a></p>
        <p><a href="reading-list">Reading list</a></p>
      </div>
    </div>
    <div class="column">
      <h2>Projects</h2>
      <div>
        <p>FS Champ DFS Lineup Optimizer</p>
        <p><a href="https://www.npmjs.com/package/scintilla" target="_blank">Scintilla, React Sparklines</a></p>
      </div>
      <h2>Crypto</h2>
      <div>
      <p><a href="https://ethereum.org/en/" target="_blank">Ethereum</a></p>
        <p><a href="https://www.vechain.org/" target="_blank">VeChain</a></p>
        <p><a href="https://www.ceek.com/" target="_blank">CEEK</a></p>
        <p><a href="https://smartkeyplatform.io/" target="_blank">SmartKey</a></p>
      </div>
    </div>
  </section>
</main>
{% endblock content %}