{% extends "base.html" %}
{% block title %}Aaron Moradi{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="/home.css" />
{% endblock head %}

{% block header_links %}
  <a href="/notes" title="notes">notes</a>  
  <a href="/" title="me">me</a>
{% endblock header_links %}

{% block content %}
<main role="main" class="main home">
  <header class="masthead">
    <!-- headshot here -->
    <div class="header-content">
      <p>Aaron Moradi, Software Engineer, at financial technology company (confidential).</p>
      <p>Previously, Front End Developer at EntreLeadership and Web Developer at MRM.
        Creator of FS Champ DFS lineup optimizer.
        From Texas, living on the 3rd coast by way of Nashville.
      </p>
    </div>
    <div class="header-links">
      <a href="mailto:moradi.aaron@gmail.com">Say hello</a>
      <a href="https://www.linkedin.com/in/aaron-moradi-71a61b47/" target="_blank">LinkedIn</a>
      <a href="https://github.com/amoradi/" target="_blank">GitHub</a>
    </div>
  </header>
  <section class="content">
    <div class="column">
      <h2>Currently</h2>
      <div>
        <p>Software Engineer, financial technology company</p>
      </div>
      <h2>Past</h2>
      <div>
        <p>Front End Developer, <a href="https://www.entreleadership.com/" target="_blank">EntreLeadership</a></p>
        <p>Web Developer, <a href="https://www.mrm.com/index.html" target="_blank">MRM</a></p>
        <p>Web Designer, <a href="https://www.visualapp.com/" target="_blank">Visual App</a></p>
        <p>Inbound Marketer, <a href="https://ivieinc.com/" target="_blank">Ivie</a></p>
      </div>
    </div>
    <div class="column">
      <h2>Reading</h2>
      <div>
        <p><a href="https://www.gutenberg.org/files/44800/44800-h/44800-h.htm" target="_blank">The Law</a>, Frédéric Bastiat</p>
        <p><a href="https://fee.org/resources/economics-in-one-lesson/" target="_blank">Economics in One Lesson</a>, Henry Hazlitt</p>
        <p><a href="https://mises.org/library/what-has-government-done-our-money" target="_blank">What Has Government Done to Our Money?</a>, Murray N. Rothbard</p>
        <p><a href="https://www.amazon.com/Anatomy-State-Murray-Rothbard/dp/1614279888" target="_blank">Anatomy of the State</a>, Murray N. Rothbard</p>
        <p><a href="https://www.amazon.com/End-Fed-Ron-Paul/dp/0446549193" target="_blank">End the Fed</a>, Ron Paul</p>
        <p><a href="/notes" >My notes</a></p>
      </div>
    </div>
    <div class="column">
      <h2>Projects</h2>
      <div>
        <p>FS Champ DFS Lineup Optimizer</p>
        <p><a href="https://www.npmjs.com/package/scintilla" target="_blank">Scintilla, React Sparklines</a></p>
      </div>
      <h2>Crypto</h2>
      <div>
      <p><a href="https://ethereum.org/en/" target="_blank">Ethereum</a></p>
        <p><a href="https://www.vechain.org/" target="_blank">VeChain</a></p>
        <p><a href="https://www.ceek.com/" target="_blank">CEEK</a></p>
        <p><a href="https://smartkeyplatform.io/" target="_blank">SmartKey</a></p>
      </div>
    </div>
  </section>
</main>
{% endblock content %}