{% extends "base.html" %}
{% block title %}Aaron Moradi{% endblock title %}
{% block desc %}Software Engineer at financial technology company (confidential){% endblock desc %}
{% block head %}
  <link rel="stylesheet" href="/home.css" />
{% endblock head %}

{% block header_links %}
  <a href="/notes" title="notes">notes</a>
  <a href="/reading-list" title="reading list">reads</a>
{% endblock header_links %}

{% block content %}
<main role="main" class="main home">
  <header class="masthead">
    <div>
      <div class="header-content">
        <p><span class="header-content-emphasis">Hello, I'm Aaron Moradi</span>, Software Engineer & Visual Designer.<br />I like to make things.</p>
        <p>Currently, Founder of <a href="https://lefthash.com" target="_blank">Lefthash</a> and <a href="https://skynet.markets" target="_blank">Skynet</a>. Previously, Member of Technical Staff at <a href="https://kraken.com" target="_blank">Kraken</a>.</p>
      </div>
      <div class="header-links">
        <span><a href="mailto:moradi.aaron@proton.me" target="_blank" class="icon-mail">moradi.aaron</a></span>
        <span><a href="https://twitter.com/hardbread_" target="_blank" class="icon-twitter">@hardbread_</a></span>
        <span><a href="https://www.linkedin.com/in/aaron-moradi/" target="_blank" class="icon-linkedin">@aaron-moradi</a></span>
        <span><a href="https://github.com/amoradi/" target="_blank" class="icon-github">@amoradi</a></span>
      </div>
    </div>
    <!-- <div class="header-img-container">
      <img class="header-img" src="https://raw.githubusercontent.com/amoradi/me/master/public/assets/images/me_and_fam.jpg" width="35%" />
    </div> -->
  </header>
  <section class="content">
    <div class="column">
      <h2>Currently</h2>
      <div>
        <p>Founder, <a href="https://lefthash.com/" target="_blank">Left Hash</a></p>
        <p>Founder, <a href="https://skynet.markets" target="_blank">Skynet</a></p>
      </div>
      <h2>Past</h2>
      <div>
        <p>Senior Software Engineer, <a href="https://kraken.com/" target="_blank">Kraken</a></p>
        <p>Front End Developer, <a href="https://podcasts.apple.com/us/podcast/the-entreleadership-podcast/id435836905" target="_blank">EntreLeadership</a></p>
        <p>Web Developer, <a href="https://www.mrm.com/index.html" target="_blank">MRM</a></p>
        <p>Web Designer, <a href="https://www.visualapp.com/" target="_blank">Visual App</a></p>
        <p>Inbound Marketer, <a href="https://www.quad.com/" target="_blank">Ivie</a></p>
      </div>
    </div>
    <div class="column">
      <h2>Reads</h2>
      <div>
        <p><a href="https://www.amazon.com/Cold-Start-Problem-Andrew-Chen-ebook/dp/B08HZ5XY7X/" target="_blank">The Cold Start Problem: How to Start and Scale Network Effects</a>, Andrew Chen</p>
        <p><a target="_blank" href="https://www.amazon.com/Good-Great-Some-Companies-Others-ebook/dp/B0058DRUV6/">Good to Great: Why Some Companies Make the Leap...And Others Don't</a>, Jim Collins</p>
        <p><a target="_blank" href="https://www.amazon.com/Naked-Statistics-Stripping-Dread-Data/dp/039334777X/">Naked Statistics</a>, Charles Wheelan</p>
        <p><a href="https://mises.org/library/what-has-government-done-our-money" target="_blank">What Has Government Done to Our Money?</a>, Murray N. Rothbard</p>
        <!-- <p><a href="/notes" >My notes</a></p> -->
        <p><a href="reading-list">More...</a></p>
      </div>
    </div>
    <div class="column">
      <h2>Projects</h2>
      <div>
        <p><a href="https://www.npmjs.com/package/scintilla" target="_blank">Scintilla, React Sparklines</a></p>
        <p><a href="https://github.com/amoradi/atlas" target="_blank">Atlas, WebGPU-Powered World Map</a></p>
        <p><a href="https://github.com/amoradi/stockprep" target="_blank">Stockprep, Stock Data Prep Utils</a></p>
        <p>Numfun: Mental Math Games</p>
        <p>FS Champ DFS Lineup Optimizer</p>
      </div>
    </div>
  </section>
</main>
{% endblock content %}