{% extends "base.html" %}
{% block title %}{{ page.title | safe }} | Aaron Moradi{% endblock title %}
{% block desc %}{{ page.description | safe }}{% endblock desc %}
{% block head %}
  <link rel="stylesheet" href="/notes.css" />
{% endblock head %}

{% block header_links %}
    <a href="/notes" title="notes">notes</a>
{% endblock header_links %}
    
{% block content %}
    <div class="reading-text">
        <h1 class="title">{{ page.title | safe }}</h1>

        {{ page.content | safe }}
    </div>
{% endblock content %}
