{% extends "base.html" %}
{% block title %}reading list | Aaron Moradi{% endblock title %}
{% block desc %}Reading list for Aaron Moradi{% endblock desc %}
{% block head %}
<link rel="stylesheet" href="/notes.css" />
<script type="text/javascript" src="/elasticlunr.min.js"></script>
<script type="text/javascript" src="/search_index.en.js"></script>
<script type="text/javascript" src="/search.js"></script>
{% endblock head %}

{% block header_body %}

{% endblock header_body %}s

{% block header_links %}
  <a href="/notes" title="notes">notes</a>
  <a href="/reading-list" title="reading list">reading list</a>
{% endblock header_links %}

{% block content %}
  {{ section.content | safe }}
  <div class="reading-list__container">
    <h2 class="reading-list__header">2022</h2>
    <dl class="reading-list">
      <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Understanding-Money-Mechanics-Robert-Murphy-ebook/dp/B09NMKNS7T/">Understanding Money Mechanics</a></dt>
      <dd class="reading-list__author">Robert Murphy</dd>
      <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Fail-Safe-Investing-Lifelong-Financial-Security-ebook/dp/B003JMF4GG/">Fail-Safe Investing: Lifelong Financial Security in 30 Minutes</a></dt>
      <dd class="reading-list__author">Harry Browne</dd>
      <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Cold-Start-Problem-Andrew-Chen-ebook/dp/B08HZ5XY7X/">The Cold Start Problem: How to Start and Scale Network Effects</a></dt>
      <dd class="reading-list__author">Andrew Chen</dd>
      <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Good-Great-Some-Companies-Others-ebook/dp/B0058DRUV6/">Good to Great: Why Some Companies Make the Leap...And Others Don't</a></dt>
      <dd class="reading-list__author">Jim Collins</dd>
    </dl>
    <h2>2021</h2>
    <dl class="reading-list">
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Zero-One-Notes-Startups-Future/dp/0804139296/">Zero to One: Notes on Startups, or How to Build the Future</a></dt>
        <dd class="reading-list__author">Peter Thiel</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/You-Can-Stock-Market-Genius/dp/0684840073/">You Can Be a Stock Market Genius: Uncover the Secret Hiding Places of Stock Market Profits</a></dt>
        <dd class="reading-list__author">Joel Greenblatt</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Case-Against-Fed-Murray-Rothbard/dp/094546617X/">The Case Against the Fed</a></dt>
        <dd class="reading-list__author">Murray N. Rothbard</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Quants-Whizzes-Conquered-Street-Destroyed/dp/0307453383/">The Quants: How a New Breed of Math Whizzes Conquered Wall Street and Nearly Destroyed It</a></dt>
        <dd class="reading-list__author">Scott Patterson</dd>
    </dl>
    <h2>2020</h2>
    <dl class="reading-list">
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Naked-Statistics-Stripping-Dread-Data/dp/039334777X/">Naked Statistics</a></dt>
        <dd class="reading-list__author">Charles Wheelan</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Personal-MBA-10th-Anniversary/dp/0525543023/">The Personal MBA</a></dt>
        <dd class="reading-list__author">Josh Kaufman</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Quantitative-Trading-Build-Algorithmic-Business/dp/1119800064/">Quantitative Trading: How to Build Your Own Algorithmic Trading Business</a></dt>
        <dd class="reading-list__author">Ernest P. Chan</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Algorithmic-Trading-Winning-Strategies-Rationale/dp/1118460146">Algorithmic Trading: Winning Strategies and Their Rationale</a></dt>
        <dd class="reading-list__author">Ernest P. Chan</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Mystery-Banking-Murray-N-Rothbard/dp/1933550287/">The Mystery of Banking</a></dt>
        <dd class="reading-list__author">Murray N. Rothbard</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Blockchain-Revolution-Technology-Cryptocurrencies-Changing/dp/1101980141/">Blockchain Revolution: How the Technology Behind Bitcoin and Other Cryptocurrencies Is Changing the World</a></dt>
        <dd class="reading-list__author">Don Tapscott</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://www.amazon.com/Cryptoassets-Innovative-Investors-Bitcoin-Beyond/dp/1260026671/">Cryptoassets: The Innovative Investor's Guide to Bitcoin and Beyond</a></dt>
        <dd class="reading-list__author">Chris Burniske</dd>
        <dt class="reading-list__title"><a href="https://fee.org/resources/economics-in-one-lesson/" target="_blank">Economics in One Lesson</a></dt>
        <dd class="reading-list__author">Henry Hazlitt</dd>
        <dt class="reading-list__title"><a href="https://www.gutenberg.org/files/44800/44800-h/44800-h.htm" target="_blank">The Law</a></dt>
        <dd class="reading-list__author">Frédéric Bastiat</dd>
        <dt class="reading-list__title"><a target="_blank" href="https://mises.org/library/what-has-government-done-our-money">What Has Government Done to Our Money?</a></dt>
        <dd class="reading-list__author">Murray N. Rothbard</dd>
        <dt class="reading-list__title"><a href="https://www.amazon.com/Anatomy-State-Murray-Rothbard/dp/1614279888" target="_blank">Anatomy of the State</a></dt>
        <dd class="reading-list__author">Murray N. Rothbard</dd>
    </dl>
  </div>

{% endblock content %}
