{% extends "resume.html" %}
{% block title %}resumé | Aaron Moradi{% endblock title %}
{% block desc %}Aaron Moradi's resumé{% endblock desc %}
{% block head %}
<link rel="stylesheet" href="/notes.css" />
{% endblock head %}

{% block header_body %}

{% endblock header_body %}s

{% block header_links %}
  <!-- <a href="/notes" title="notes">notes</a>
  <a href="/reading-list" title="reading list">reading list</a> -->
{% endblock header_links %}

{% block content %}
  {{ section.content | safe }}
  <section>     
    <p class="resume-header">
        <span class="dot"></span>
        <span>
        <b>Aaron Moradi</b><br />214.284.1318 | Charlevoix, MI<br />
        <span class="links"><a href="mailto:moradi.aaron@proton.me" target="_blank" class="icon-mail">moradi.aaron</a></span>
        <span class="links"><a href="https://twitter.com/hardbread_" target="_blank" class="icon-twitter">@hardbread_</a></span>
        <span class="links"><a href="https://www.linkedin.com/in/aaron-moradi-71a61b47/" target="_blank" class="icon-linkedin">@aaron-moradi</a></span>
        <span class="links"><a href="https://github.com/amoradi/" target="_blank" class="icon-github">@amoradi</a></span>
        </span>
    </p>
</section>
<section>
    <h2>Summary</h2>   	
    <p>Product-centric, user-centric, software engineer, excited about disintermediation and financial inclusion. Expertise architecting web UI components, data visualizations and modeling data in the digital assets space.</p>
</section>
<section>
    <h2>Skills</h2>
    <ul class="split-view"> 	
        <li>Excellent problem-solving and communication skills.</li>
            <li>Friendly team member.</li>
                <li>Recruits the best solution for the job — functional, object-oriented, data structures, algorithms, tooling, etc.</li>

                    <li>Authors high quality, performant code, iteratively delivered.</li>
                        <li>Data visualization, TypeScript, React, Next.js, Canvas, SVG, GraphQL, Web Workers, HTML, CSS, module bundlers</li>
                        </ul>
                    </section>
                    <section>
    <h2>Experience</h2>  
    <span class="subhead"><span>Digital Assets Company (Confidential)</span> | 05/2018 - Current | Remote
    <br/><span>Senior Software Engineer</span></span>
    <ul class="split-view"> 	
        <li>Planned and created scalable and extensible systems with intended expansion tracks.</li>
            <li>Architected client data management module and React interface.</li>
                <li>Refactored high-traffic, specialized trading view for layout composability and data independence.</li>
                    <li>Drafted design objectives and system design documents.</li>
                        <li>Spearheaded the conversion of the data visualization codebase into a reusable charting library — modular, encapsulated, intended for third-party use.</li>
                            <li>Created a custom web CLI component with grammar and parser to boot, enabling power users mouse-free alert creation, site navigation and theming.</li>
                                <li>Straddled portfolio and data visualization teams.</li>
                                    <li>Mentored and developed junior engineers to increase productivity.</li>  	
                                    </ul>


                                    <span class="subhead"><span>EntreLeadership</span> | 08/2016 - 05/2018 | Brentwood, TN 
                                    <br/><span>Front End Developer</span></span>
    <ul class="split-view"> 
                                        <li>Ideated, validated and shipped digital product features (ES6, React/Redux, Jest, Sass, BEM, pug).</li>
                                            <li>Launched the Weekly Report Tool.</li>
                                                <li>Process: Kanban, Git flow, continuous integration, deployment and delivery.</li>
                                                    <li>Experimenter in TypeScript, D3 and Python.</li>
                                                        <li>EntreLeadership offers a subscription membership that combines business coaching, conferences and leadership training year-round.</li>
                                    </ul>


                                <span class="subhead"><span>MRM//McCann</span> | 01/2015 - 09/2016 | Birmingham, MI 
                                    <br/><span>Web Developer</span></span>
<ul class="split-view">
    <li>Programmed custom UI components in Adobe Experience Manager, HTML5, LESS, JS, jQuery.</li>
    <li>Lead front end liaison for multiple clients.</li>
        <li>Clients included Chevy, Manchester United, Coke, and Abbott.</li>
</ul>

<span class="subhead"><span>Visual App</span> | 09/2012 - 01/2015 | Richardson, TX 
<br/><span>Web Designer</span></span>
<ul class="split-view">
<li>Designed total site makeovers: information architecture, branding, modern code.</li>
<li>Programmed custom WordPress themes.</li>
<li>Led client walk-through's and how-to's for their respective product(s).</li>
</ul>

<span class="subhead"><span>Ivie</span> | 11/2011 - 09/2012 | Flower Mound, TX 
<br/><span>Inbound Marketer</span></span>
<ul class="split-view">
    <li>In-house organic SEO specialist toiling with page optimizations for top SERP spots.</li>
        <li>Designed digital marketing collateral, social media resources and campaigns.</li>
            <li>Wrote and designed monthly SEO email blast, content articles and posts.</li>
                <li>Coded webpages, straddling marketing and production teams.</li>
            </ul>
        </section>
<section>
    <h2>Education</h2>   
    <p>
    The University of Texas At Dallas<br/>
    Bachelor of Arts: Art & Humanities, 3.53 GPA

    <br/><br/>Plano Senior High School<br/>
Diploma, 3.74 GPA<br/>
<ul><li>National Honor Society, Band, Jazz Band, Orchestra, Football, Soccer.</li></ul>
</p>	
</section>
<section>
    <h2>Certifications</h2>
    <ul><li>DappCamp Cohort 4 - Solidity, Ethers JS, 2022</li>
        <li>Codecademy Back-End Engineer Career Path, 2021</li>
            <li>ConsenSys Blockchain Developer Program On-Demand, 2021</li>
                <li>Collin College CS Certificate, 3.4 GPA, 2014</li></ul>
      
            </section>
{% endblock content %}
